@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

<div class="d-flex justify-content-center my-3">
    <a asp-action="OrderByDate" class="btn btn-primary mx-2">Sort by Date</a>
    <a asp-action="OrderByLikes" class="btn btn-primary mx-2">Sort by Likes</a>
</div>

<br />
<br />

<div class="row mb-4">
    @foreach (var bookmark in ViewBag.Bookmarks)
    {
        <div class="col-6 row-style">
            <div class="card">
                <div class="card-title p-3 text-center bg-dark text-white">
                    <h4>@Html.Raw(bookmark.Title)</h4>
                </div>


                <div class="card-body">

                    <div class="d-flex justify-content-between flex-row mt-5">

                        <div><i class="bi bi-globe"></i> @bookmark.Category.Title</div>

                        <div><i class="bi bi-person"></i> @bookmark.Likes</div>

                        <div><i class="bi bi-person"></i> @bookmark.User.UserName</div>

                        <span class="alert-success">@bookmark.Date</span>

                    </div>

                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" href="/Bookmarks/Show/@bookmark.Id">Vezi Articolul</a>
                </div>
            </div>
        </div>
    }
</div>
@* Afisarea paginata a articolelor *@
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
